html, body, p, pre {
    padding: 0;
    margin: 0;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.codigo {
    padding: 10px;
    margin: 5px 0;
    background-color: #484848;
    color: white;
}
