:root {
    --color-rocket: #7159C1;
}

html, body, p, pre {
    padding: 0;
    margin: 0;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.codigo {
    padding: 10px;
    margin: 5px 0;
    background-color: #484848;
    color: white;
}

.exercice {
    width: 60%;
    padding: 10px;
    margin: 30px auto 20px;
    background-color: var(--color-rocket);
    color: white;
    border: 3px solid black;
    border-radius: 80px;
    text-align: center;
    text-transform: uppercase;
}

.marginAuto {
    margin: auto;
}
